CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq60xx=y
CONFIG_TARGET_qualcommax_ipq60xx_DEVICE_jdc_ax1800-pro=y

#
# Wireless Drivers
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
# CONFIG_NSS_MEM_PROFILE_HIGH is not set
CONFIG_NSS_MEM_PROFILE_MEDIUM=y
# CONFIG_NSS_MEM_PROFILE_LOW is not set
# Qualcomm IPQ Options
# Kernel build options
# CONFIG_IPQ_MEM_PROFILE_1024 is not set
CONFIG_IPQ_MEM_PROFILE_512=y
# CONFIG_IPQ_MEM_PROFILE_256 is not set
## end of Kernel modules

## LuCI##

# Translations
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_LUCI_LANG_zh_Hans=y
